In [1]:
import pandas as pd
import numpy as np

In [2]:
# PaysScale dataset from 2008, looking back on previous 10 years

df = pd.read_csv("Data_files/salaries_by_college_major.csv")
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [4]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=51, step=1)

### Identify rows with missing values

In [6]:
# Number of rows with missing values
df.isna().any(axis=1).sum()

1

In [7]:
# Row(s) with missing values
df[df.isna().any(axis=1)]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

### Unique values

In [8]:
df.nunique()

Undergraduate Major                  51
Starting Median Salary               43
Mid-Career Median Salary             49
Mid-Career 10th Percentile Salary    45
Mid-Career 90th Percentile Salary    43
Group                                 3
dtype: int64

In [9]:
df['Group'].value_counts()

Group
HASS        22
STEM        16
Business    12
Name: count, dtype: int64

### Average Mid-Career Median Salary for each group

In [10]:
df.groupby("Group")['Mid-Career Median Salary'].mean()

Group
Business    75083.333333
HASS        62968.181818
STEM        90812.500000
Name: Mid-Career Median Salary, dtype: float64

### Averaged salary columns

In [11]:
df.iloc[:, 1:5].mean()

Starting Median Salary                44310.0
Mid-Career Median Salary              74786.0
Mid-Career 10th Percentile Salary     43408.0
Mid-Career 90th Percentile Salary    142766.0
dtype: float64

In [12]:
df.describe()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.000000,50.00000,50.000000,50.000000
mean,44310.000000,74786.00000,43408.000000,142766.000000
std,9360.866217,16088.40386,12000.779567,27851.249267
min,34000.000000,52000.00000,26700.000000,96400.000000
25%,37050.000000,60825.00000,34825.000000,124250.000000
50%,40850.000000,72000.00000,39400.000000,145500.000000
75%,49875.000000,88750.00000,49850.000000,161750.000000
max,74300.000000,107000.00000,71900.000000,210000.000000

### Find College Major with Highest Starting Salaries

In [13]:
# 1 way
df.loc[:, ["Starting Median Salary", "Undergraduate Major"]].sort_values(by="Starting Median Salary", ascending=False).head(3)

    Starting Median Salary   Undergraduate Major
43                 74300.0   Physician Assistant
8                  63200.0  Chemical Engineering
12                 61400.0  Computer Engineering

In [14]:
# 2 way
highest_salary_index = df["Starting Median Salary"].idxmax()
df.loc[highest_salary_index, "Undergraduate Major"]

'Physician Assistant'

### Find College Major with Lowest Starting Salaries

In [15]:
df.loc[:, ["Starting Median Salary", "Undergraduate Major"]].sort_values(by="Starting Median Salary", ascending=True).head(1)

    Starting Median Salary Undergraduate Major
49                 34000.0             Spanish

### Create new dataframe and clean it

In [16]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

### Lowest Risk Majors

A low-risk major is a degree where there is a small difference between the lowest and highest salaries.

In [17]:
percentile_spread = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]

if "Percentile spread" not in clean_df.columns:
    clean_df.insert(1, "Percentile spread", percentile_spread)

min_spread_index = clean_df["Percentile spread"].idxmin()
print(clean_df.loc[min_spread_index, "Undergraduate Major"])

clean_df.sort_values(by="Percentile spread").head(2)

Nursing

,Undergraduate Major,Percentile spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM

In [18]:
print(clean_df.columns)
clean_df.index

Index(['Undergraduate Major', 'Percentile spread', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
      dtype='int64')

In [19]:
# BONUS
# Average spread for each group
clean_df.groupby("Group")["Percentile spread"].mean()

Group
Business    103958.333333
HASS         95218.181818
STEM        101600.000000
Name: Percentile spread, dtype: float64

In [20]:
print(df.shape)
df.nunique()

(51, 6)

Undergraduate Major                  51
Starting Median Salary               43
Mid-Career Median Salary             49
Mid-Career 10th Percentile Salary    45
Mid-Career 90th Percentile Salary    43
Group                                 3
dtype: int64

### Lowest progress potential
Assessed by the spread of the salary after graduation and a salary after years of experience

In [21]:
salary_spread = df["Mid-Career Median Salary"] - df["Starting Median Salary"]
min_spread_index = salary_spread.idxmin()
max_spread_index = salary_spread.idxmax()

print(f"Min salary spread of {salary_spread.min()} for {df.loc[min_spread_index, "Undergraduate Major"]}")
print(f"Max salary spread of {salary_spread.max()} for {df.loc[max_spread_index, "Undergraduate Major"]}\n")

salary_spread.describe()

Min salary spread of 12800.0 for Nursing
Max salary spread of 48500.0 for Economics

count       50.000000
mean     30476.000000
std       9534.460806
min      12800.000000
25%      22225.000000
50%      30850.000000
75%      37375.000000
max      48500.000000
dtype: float64

### Compare nursing to other majors

In [22]:
# Nursing
df.loc[df["Undergraduate Major"] == "Nursing"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business

In [23]:
# % best majors in terms of mid-career salary
df.sort_values(by="Mid-Career Median Salary", ascending=False).head(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
17,Economics,50100.0,98600.0,50600.0,210000.0,Business

In [24]:
# % worst majors in terms of mid-career salary
df.sort_values(by="Mid-Career Median Salary", ascending=False).tail(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN